In [100]:
import numpy as np

In [101]:
import pandas as pd

In [102]:
import matplotlib.pyplot as plt
%matplotlib inline

In [103]:
sales=pd.read_csv('sales_data.csv')

In [104]:
sales.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23.0,45.0,120.0,1366.0,1035.0,2401.0
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20.0,45.0,120.0,1188.0,900.0,2088.0
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4.0,45.0,120.0,238.0,180.0,418.0

In [105]:
sales.head(2)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0

In [106]:
sales.tail()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
7638,2016-05-03,3,May,2016,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,6.0,2.0,5.0,17.0,12.0,29.0
7639,2016-05-03,3,May,2016,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,14.0,2.0,5.0,39.0,28.0,67.0
7640,2014-06-07,7,June,2014,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,6.0,2.0,5.0,17.0,12.0,29.0
7641,2014-06-07,7,June,2014,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,18.0,2.0,5.0,50.0,36.0,86.0
7642,2016-06-07,7,June,2016,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 o,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
sales.tail(2)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
7641,2014-06-07,7,June,2014,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,18.0,2.0,5.0,50.0,36.0,86.0
7642,2016-06-07,7,June,2016,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 o,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
sales['Customer_Age']

0       19
1       19
2       49
3       49
4       47
        ..
7638    29
7639    29
7640    29
7641    29
7642    29
Name: Customer_Age, Length: 7643, dtype: int64

In [109]:
sales.loc[0]

Date                         2013-11-26
Day                                  26
Month                          November
Year                               2013
Customer_Age                         19
Age_Group                   Youth (<25)
Customer_Gender                       M
Country                          Canada
State                  British Columbia
Product_Category            Accessories
Sub_Category                 Bike Racks
Product             Hitch Rack - 4-Bike
Order_Quantity                      8.0
Unit_Cost                          45.0
Unit_Price                        120.0
Profit                            590.0
Cost                              360.0
Revenue                           950.0
Name: 0, dtype: object

In [110]:
sales.loc[[0,1]]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0

In [111]:
sales.iloc[0:3]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23.0,45.0,120.0,1366.0,1035.0,2401.0

In [112]:
pd.__version__

'2.1.4'

In [113]:
sales.shape

(7643, 18)

In [114]:
sales.shape[0]

7643

In [115]:
sales.shape[1]

18

In [116]:
sales.State=='California'

0       False
1       False
2       False
3       False
4       False
        ...
7638    False
7639    False
7640    False
7641    False
7642    False
Name: State, Length: 7643, dtype: bool

In [117]:
sales[sales.State=='California']

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
38,2013-07-13,13,July,2013,43,Adults (35-64),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,10.0,45.0,120.0,726.0,450.0,1176.0
39,2015-07-13,13,July,2015,43,Adults (35-64),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,10.0,45.0,120.0,726.0,450.0,1176.0
40,2014-03-31,31,March,2014,43,Adults (35-64),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,11.0,45.0,120.0,799.0,495.0,1294.0
41,2016-03-31,31,March,2016,43,Adults (35-64),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,11.0,45.0,120.0,799.0,495.0,1294.0
42,2013-08-28,28,August,2013,61,Adults (35-64),M,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,581.0,360.0,941.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7369,2016-06-24,24,June,2016,25,Young Adults (25-34),M,United States,California,Accessories,Bottles and Cages,Water Bottle - 30 oz.,4.0,2.0,5.0,12.0,8.0,20.0
7370,2014-06-26,26,June,2014,25,Young Adults (25-34),M,United States,California,Accessories,Bottles and Cages,Water Bottle - 30 oz.,16.0,2.0,5.0,46.0,32.0,78.0
7371,2016-06-26,26,June,2016,25,Young Adults (25-34),M,United States,California,Accessories,Bottles and Cages,Water Bottle - 30 oz.,13.0,2.0,5.0,38.0,26.0,64.0
7372,2014-07-26,26,July,2014,25,Young Adults (25-34),M,United States,California,Accessories,Bottles and Cages,Water Bottle - 30 oz.,8.0,2.0,5.0,23.0,16.0,39.0
7373,2016-07-26,26,July,2016,25,Young Adults (25-34),M,United States,California,Accessories,Bottles and Cages,Water Bottle - 30 oz.,5.0,2.0,5.0,15.0,10.0,25.0

In [118]:
s=sales.State
s.value_counts()

State
California             1346
British Columbia       1282
England                1067
Washington              742
New South Wales         470
Oregon                  386
Victoria                314
Queensland              276
Nordrhein-Westfalen     186
Seine Saint Denis       170
Saarland                166
Hessen                  146
Seine (Paris)           146
Hamburg                 142
Bayern                  124
Essonne                 102
Nord                     94
South Australia          88
Hauts de Seine           64
Yveline                  58
Loiret                   42
Tasmania                 38
Seine et Marne           36
Moselle                  22
Val de Marne             20
Val d'Oise               18
Garonne (Haute)          16
Charente-Maritime        12
Brandenburg              12
Loir et Cher             10
Somme                     8
Alberta                   8
Pas de Calais             8
Texas                     6
New York                  4
Florida                   4
Illinois                  4
South Carolina            4
Kentucky                  2
Name: count, dtype: int64

In [119]:
sales['Cost'].mean()

79.91625228997644

In [120]:
sales['Cost'].mean().round(5)

79.91625

In [121]:
sales['Profit'].median()

53.0

In [122]:
sales['Profit'].mode()

0    6.0
Name: Profit, dtype: float64

In [123]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7643 entries, 0 to 7642
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              7643 non-null   object
 1   Day               7643 non-null   int64
 2   Month             7643 non-null   object
 3   Year              7643 non-null   int64
 4   Customer_Age      7643 non-null   int64
 5   Age_Group         7643 non-null   object
 6   Customer_Gender   7643 non-null   object
 7   Country           7643 non-null   object
 8   State             7643 non-null   object
 9   Product_Category  7643 non-null   object
 10  Sub_Category      7643 non-null   object
 11  Product           7643 non-null   object
 12  Order_Quantity    7642 non-null   float64
 13  Unit_Cost         7642 non-null   float64
 14  Unit_Price        7642 non-null   float64
 15  Profit            7642 non-null   float64
 16  Cost              7642 non-null   float64
 17  Revenue           7642 non-null   float64
dtypes: float64(6), int64(3), object(9)
memory usage: 1.0+ MB

In [124]:
sales.describe()

,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,7643.000000,7643.000000,7643.000000,7642.000000,7642.000000,7642.000000,7642.000000,7642.000000,7642.000000
mean,15.403768,2014.588774,36.141437,14.035593,9.193405,24.408794,111.172075,79.916252,191.088328
std,8.880167,1.114518,11.007290,8.832830,16.896570,45.430637,207.095020,141.869081,347.815830
min,1.000000,2013.000000,17.000000,1.000000,2.000000,5.000000,2.000000,2.000000,4.000000
25%,8.000000,2014.000000,28.000000,6.000000,2.000000,5.000000,26.000000,20.000000,47.000000
50%,15.000000,2014.000000,35.000000,13.000000,2.000000,5.000000,53.000000,42.000000,95.000000
75%,23.000000,2016.000000,43.000000,22.000000,4.000000,10.000000,88.750000,60.000000,149.000000
max,31.000000,2016.000000,87.000000,32.000000,59.000000,159.000000,2214.000000,1350.000000,3564.000000

In [125]:
sales['Profit'].max()

2214.0

In [126]:
sales['Profit'].min()

2.0

In [127]:
sales['Profit'].sum()

849577.0

In [128]:
sales.sort_values(by=['Profit','Cost'])

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
1142,2015-07-29,29,July,2015,40,Adults (35-64),M,Australia,Victoria,Accessories,Bottles and Cages,Water Bottle - 30 oz.,1.0,2.0,5.0,2.0,2.0,4.0
1159,2015-10-22,22,October,2015,22,Youth (<25),F,United States,Washington,Accessories,Bottles and Cages,Water Bottle - 30 oz.,1.0,2.0,5.0,2.0,2.0,4.0
1195,2014-04-24,24,April,2014,42,Adults (35-64),M,France,Seine Saint Denis,Accessories,Bottles and Cages,Water Bottle - 30 oz.,1.0,2.0,5.0,2.0,2.0,4.0
1523,2013-09-13,13,September,2013,33,Young Adults (25-34),F,France,Seine Saint Denis,Accessories,Bottles and Cages,Water Bottle - 30 oz.,1.0,2.0,5.0,2.0,2.0,4.0
1645,2014-03-04,4,March,2014,28,Young Adults (25-34),F,United States,Washington,Accessories,Bottles and Cages,Water Bottle - 30 oz.,1.0,2.0,5.0,2.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2014-01-07,7,January,2014,31,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,29.0,45.0,120.0,2140.0,1305.0,3445.0
90,2014-02-12,12,February,2014,46,Adults (35-64),M,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,30.0,45.0,120.0,2178.0,1350.0,3528.0
182,2014-01-17,17,January,2014,53,Adults (35-64),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,30.0,45.0,120.0,2178.0,1350.0,3528.0
245,2016-01-07,7,January,2016,31,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,30.0,45.0,120.0,2214.0,1350.0,3564.0
7642,2016-06-07,7,June,2016,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 o,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
sales.sort_values(by=['Profit'])

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
1780,2016-03-12,12,March,2016,34,Young Adults (25-34),M,Australia,Victoria,Accessories,Bottles and Cages,Water Bottle - 30 oz.,1.0,2.0,5.0,2.0,2.0,4.0
6707,2016-03-25,25,March,2016,44,Adults (35-64),M,United States,Washington,Accessories,Bottles and Cages,Water Bottle - 30 oz.,1.0,2.0,5.0,2.0,2.0,4.0
3669,2016-01-08,8,January,2016,53,Adults (35-64),M,Australia,New South Wales,Accessories,Bottles and Cages,Water Bottle - 30 oz.,1.0,2.0,5.0,2.0,2.0,4.0
7395,2016-03-02,2,March,2016,33,Young Adults (25-34),M,United States,Washington,Accessories,Bottles and Cages,Water Bottle - 30 oz.,1.0,2.0,5.0,2.0,2.0,4.0
1142,2015-07-29,29,July,2015,40,Adults (35-64),M,Australia,Victoria,Accessories,Bottles and Cages,Water Bottle - 30 oz.,1.0,2.0,5.0,2.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2014-01-07,7,January,2014,31,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,29.0,45.0,120.0,2140.0,1305.0,3445.0
90,2014-02-12,12,February,2014,46,Adults (35-64),M,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,30.0,45.0,120.0,2178.0,1350.0,3528.0
182,2014-01-17,17,January,2014,53,Adults (35-64),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,30.0,45.0,120.0,2178.0,1350.0,3528.0
245,2016-01-07,7,January,2016,31,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,30.0,45.0,120.0,2214.0,1350.0,3564.0
7642,2016-06-07,7,June,2016,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 o,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
type(sales)

pandas.core.frame.DataFrame

In [131]:
type(s)

pandas.core.series.Series

In [132]:
sales.isnull()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7638,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7639,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7640,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7641,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7642,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True

In [133]:
sales.notnull()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7638,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
7639,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
7640,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
7641,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
7642,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False

In [134]:
sales.size

137574

In [135]:
size=sales.size
print("sales={}".format(size))

sales=137574

In [136]:
sales.ndim

2

In [137]:
s.ndim

1

In [141]:
sales["Country"].str.lower()
sales

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
1,2015-11-26,26,November,2015,19,Youth (<25),M,canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
2,2014-03-23,23,March,2014,49,Adults (35-64),M,australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23.0,45.0,120.0,1366.0,1035.0,2401.0
3,2016-03-23,23,March,2016,49,Adults (35-64),M,australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20.0,45.0,120.0,1188.0,900.0,2088.0
4,2014-05-15,15,May,2014,47,Adults (35-64),F,australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4.0,45.0,120.0,238.0,180.0,418.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7638,2016-05-03,3,May,2016,29,Young Adults (25-34),F,united kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,6.0,2.0,5.0,17.0,12.0,29.0
7639,2016-05-03,3,May,2016,29,Young Adults (25-34),F,united kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,14.0,2.0,5.0,39.0,28.0,67.0
7640,2014-06-07,7,June,2014,29,Young Adults (25-34),F,united kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,6.0,2.0,5.0,17.0,12.0,29.0
7641,2014-06-07,7,June,2014,29,Young Adults (25-34),F,united kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,18.0,2.0,5.0,50.0,36.0,86.0
7642,2016-06-07,7,June,2016,29,Young Adults (25-34),F,united kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 o,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
sales['Country']=sales["Country"].str.upper()
sales

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,CANADA,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
1,2015-11-26,26,November,2015,19,Youth (<25),M,CANADA,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
2,2014-03-23,23,March,2014,49,Adults (35-64),M,AUSTRALIA,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23.0,45.0,120.0,1366.0,1035.0,2401.0
3,2016-03-23,23,March,2016,49,Adults (35-64),M,AUSTRALIA,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20.0,45.0,120.0,1188.0,900.0,2088.0
4,2014-05-15,15,May,2014,47,Adults (35-64),F,AUSTRALIA,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4.0,45.0,120.0,238.0,180.0,418.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7638,2016-05-03,3,May,2016,29,Young Adults (25-34),F,UNITED KINGDOM,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,6.0,2.0,5.0,17.0,12.0,29.0
7639,2016-05-03,3,May,2016,29,Young Adults (25-34),F,UNITED KINGDOM,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,14.0,2.0,5.0,39.0,28.0,67.0
7640,2014-06-07,7,June,2014,29,Young Adults (25-34),F,UNITED KINGDOM,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,6.0,2.0,5.0,17.0,12.0,29.0
7641,2014-06-07,7,June,2014,29,Young Adults (25-34),F,UNITED KINGDOM,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,18.0,2.0,5.0,50.0,36.0,86.0
7642,2016-06-07,7,June,2016,29,Young Adults (25-34),F,UNITED KINGDOM,England,Accessories,Bottles and Cages,Water Bottle - 30 o,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
sales['Country']=sales["Country"].str.upper().str.title()
sales

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23.0,45.0,120.0,1366.0,1035.0,2401.0
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20.0,45.0,120.0,1188.0,900.0,2088.0
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4.0,45.0,120.0,238.0,180.0,418.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7638,2016-05-03,3,May,2016,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,6.0,2.0,5.0,17.0,12.0,29.0
7639,2016-05-03,3,May,2016,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,14.0,2.0,5.0,39.0,28.0,67.0
7640,2014-06-07,7,June,2014,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,6.0,2.0,5.0,17.0,12.0,29.0
7641,2014-06-07,7,June,2014,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,18.0,2.0,5.0,50.0,36.0,86.0
7642,2016-06-07,7,June,2016,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 o,NaN,NaN,NaN,NaN,NaN,NaN

In [155]:
sales['Year'].unique()

array([2013, 2015, 2014, 2016], dtype=int64)

In [156]:
sales['Month'].unique()

array(['November', 'March', 'May', 'February', 'July', 'August',
       'September', 'January', 'December', 'June', 'October', 'April'],
      dtype=object)

In [157]:
sales.rename(columns={'Customer_Gender':'Gender'})

,Date,Day,Month,Year,Customer_Age,Age_Group,Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23.0,45.0,120.0,1366.0,1035.0,2401.0
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20.0,45.0,120.0,1188.0,900.0,2088.0
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4.0,45.0,120.0,238.0,180.0,418.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7638,2016-05-03,3,May,2016,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,6.0,2.0,5.0,17.0,12.0,29.0
7639,2016-05-03,3,May,2016,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,14.0,2.0,5.0,39.0,28.0,67.0
7640,2014-06-07,7,June,2014,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,6.0,2.0,5.0,17.0,12.0,29.0
7641,2014-06-07,7,June,2014,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,18.0,2.0,5.0,50.0,36.0,86.0
7642,2016-06-07,7,June,2016,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 o,NaN,NaN,NaN,NaN,NaN,NaN

In [167]:
sales[pd.isnull(sales.Unit_Cost)]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
7642,2016-06-07,7,June,2016,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 o,NaN,NaN,NaN,NaN,NaN,NaN

In [168]:
sales.loc[sales.Unit_Cost.isnull()]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
7642,2016-06-07,7,June,2016,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 o,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
sales[sales.Customer_Age.isin([19])]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
62,2013-09-25,25,September,2013,19,Youth (<25),F,Germany,Saarland,Accessories,Bike Racks,Hitch Rack - 4-Bike,6.0,45.0,120.0,320.0,270.0,590.0
63,2015-09-25,25,September,2015,19,Youth (<25),F,Germany,Saarland,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,427.0,360.0,787.0
362,2013-09-08,8,September,2013,19,Youth (<25),F,United States,Oregon,Accessories,Bike Racks,Hitch Rack - 4-Bike,10.0,45.0,120.0,582.0,450.0,1032.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7553,2016-05-30,30,May,2016,19,Youth (<25),M,Australia,New South Wales,Accessories,Bottles and Cages,Water Bottle - 30 oz.,2.0,2.0,5.0,5.0,4.0,9.0
7554,2014-06-06,6,June,2014,19,Youth (<25),M,Australia,New South Wales,Accessories,Bottles and Cages,Water Bottle - 30 oz.,15.0,2.0,5.0,35.0,30.0,65.0
7555,2014-06-06,6,June,2014,19,Youth (<25),M,Australia,New South Wales,Accessories,Bottles and Cages,Water Bottle - 30 oz.,18.0,2.0,5.0,42.0,36.0,78.0
7556,2016-06-06,6,June,2016,19,Youth (<25),M,Australia,New South Wales,Accessories,Bottles and Cages,Water Bottle - 30 oz.,16.0,2.0,5.0,38.0,32.0,70.0
7557,2016-06-06,6,June,2016,19,Youth (<25),M,Australia,New South Wales,Accessories,Bottles and Cages,Water Bottle - 30 oz.,19.0,2.0,5.0,45.0,38.0,83.0

In [184]:
sales.loc[sales.Country=='Canada']

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
14,2013-08-02,2,August,2013,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,5.0,45.0,120.0,369.0,225.0,594.0
15,2015-08-02,2,August,2015,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,7.0,45.0,120.0,517.0,315.0,832.0
16,2013-09-02,2,September,2013,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,2.0,45.0,120.0,148.0,90.0,238.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7315,2016-02-10,10,February,2016,55,Adults (35-64),F,Canada,British Columbia,Accessories,Bottles and Cages,Water Bottle - 30 oz.,15.0,2.0,5.0,44.0,30.0,74.0
7316,2014-02-21,21,February,2014,55,Adults (35-64),F,Canada,British Columbia,Accessories,Bottles and Cages,Water Bottle - 30 oz.,10.0,2.0,5.0,30.0,20.0,50.0
7317,2016-02-21,21,February,2016,55,Adults (35-64),F,Canada,British Columbia,Accessories,Bottles and Cages,Water Bottle - 30 oz.,10.0,2.0,5.0,30.0,20.0,50.0
7318,2014-02-23,23,February,2014,55,Adults (35-64),F,Canada,British Columbia,Accessories,Bottles and Cages,Water Bottle - 30 oz.,17.0,2.0,5.0,50.0,34.0,84.0
7319,2016-02-23,23,February,2016,55,Adults (35-64),F,Canada,British Columbia,Accessories,Bottles and Cages,Water Bottle - 30 oz.,19.0,2.0,5.0,56.0,38.0,94.0

In [186]:
sales.loc[(sales.Month=='November') & (sales.Year==2015)]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
37,2015-11-11,11,November,2015,34,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,23.0,45.0,120.0,1697.0,1035.0,2732.0
47,2015-11-17,17,November,2015,29,Young Adults (25-34),F,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,14.0,45.0,120.0,1033.0,630.0,1663.0
65,2015-11-26,26,November,2015,26,Young Adults (25-34),F,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
89,2015-11-06,6,November,2015,46,Adults (35-64),M,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,4.0,45.0,120.0,290.0,180.0,470.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7323,2015-11-01,1,November,2015,55,Adults (35-64),F,United States,Oregon,Accessories,Bottles and Cages,Mountain Bottle Cage,6.0,4.0,10.0,28.0,24.0,52.0
7460,2015-11-15,15,November,2015,28,Young Adults (25-34),M,Germany,Hamburg,Accessories,Bottles and Cages,Road Bottle Cage,22.0,3.0,9.0,118.0,66.0,184.0
7461,2015-11-15,15,November,2015,28,Young Adults (25-34),M,Germany,Hamburg,Accessories,Bottles and Cages,Road Bottle Cage,22.0,3.0,9.0,118.0,66.0,184.0
7616,2015-11-07,7,November,2015,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,24.0,2.0,5.0,67.0,48.0,115.0
7617,2015-11-07,7,November,2015,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,18.0,2.0,5.0,50.0,36.0,86.0

In [187]:
sales.loc[(sales.Month=='November') | (sales.Year==2015)]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
11,2015-07-30,30,July,2015,32,Young Adults (25-34),F,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,398.0,360.0,758.0
13,2015-07-15,15,July,2015,34,Young Adults (25-34),M,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,7.0,45.0,120.0,349.0,315.0,664.0
15,2015-08-02,2,August,2015,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,7.0,45.0,120.0,517.0,315.0,832.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7613,2015-10-28,28,October,2015,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,7.0,2.0,5.0,20.0,14.0,34.0
7614,2013-11-07,7,November,2013,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,24.0,2.0,5.0,67.0,48.0,115.0
7615,2013-11-07,7,November,2013,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,19.0,2.0,5.0,53.0,38.0,91.0
7616,2015-11-07,7,November,2015,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,24.0,2.0,5.0,67.0,48.0,115.0
7617,2015-11-07,7,November,2015,29,Young Adults (25-34),F,United Kingdom,England,Accessories,Bottles and Cages,Water Bottle - 30 oz.,18.0,2.0,5.0,50.0,36.0,86.0